In [1]:
users = ['val', 'bob', 'mia', 'ron', 'ned']
first_user = users[0]
second_user = users[1]
last_user = users[-1]

In [2]:
print(first_user, second_user, last_user)

val bob ned

In [3]:
users[0] = 'valerie'
users[-2] = 'ronald'
users

['valerie', 'bob', 'mia', 'ronald', 'ned']

In [4]:
users.append('amy') # adding an element to the end of the list
users

['valerie', 'bob', 'mia', 'ronald', 'ned', 'amy']

In [5]:
users = []
users.append('val')
users.append('bob')
users.append('mia')
users

['val', 'bob', 'mia']

In [6]:
# inserting elements at a particular position
users.insert(0, 'joe')
users.insert(3, 'bea')
users

['joe', 'val', 'bob', 'bea', 'mia']

In [7]:
del users[-1] # deleting an element by its position
users

['joe', 'val', 'bob', 'bea']

In [8]:
users.remove('val') # removing an item by its value
users

['joe', 'bob', 'bea']

In [9]:
most_recent_user = users.pop() # pop the last item from a list
print(most_recent_user)

bea

In [10]:
first_user = users.pop(0) # pop the first item in a list
print(first_user)

joe

In [11]:
num_users = len(users) # list length
print("We have " + str(num_users) + " users.")

We have 1 users.

In [12]:
users

['bob']

In [13]:
users = ['val', 'bob', 'mia', 'ron', 'ned']
users.sort() # sorting a list permanently
users

['bob', 'mia', 'ned', 'ron', 'val']

In [14]:
users.sort(reverse = True) # sorting a list permanently in reverse alphabetical order
users

['val', 'ron', 'ned', 'mia', 'bob']

In [15]:
users.reverse() # reversing the order of a list
users

['bob', 'mia', 'ned', 'ron', 'val']

In [16]:
# printing all items in a list
for user in users:
    print(user)

bob
mia
ned
ron
val

In [17]:
for user in users:
    print("Welcome, " + user + "!")

print("Welcome, we're glad to see you all!")

Welcome, bob!
Welcome, mia!
Welcome, ned!
Welcome, ron!
Welcome, val!
Welcome, we're glad to see you all!

## range() function

In [18]:
# printing the numbers 0 to 10
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
# printing the numbers 1 to 10
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [20]:
numbers = list(range(1,1000001))

## simple statistics

In [21]:
ages = [93, 99, 66, 17, 85, 1, 35, 82, 2, 77]
youngest = min(ages)
oldest = max(ages)
total_years = sum(ages)
print(youngest, oldest, total_years)

1 99 557

## Slicing a list

In [22]:
finishers = ['kai', 'abe', 'ada', 'gus', 'zoe']
first_three = finishers[:3]
middle_three = finishers[1:4]
last_three = finishers[-3:]
print(first_three, middle_three, last_three)

['kai', 'abe', 'ada'] ['abe', 'ada', 'gus'] ['ada', 'gus', 'zoe']

In [23]:
copy_of_finishers = finishers[:]
copy_of_finishers

['kai', 'abe', 'ada', 'gus', 'zoe']

In [24]:
copy_of_finishers[1] = 'maxwell'
finishers

['kai', 'abe', 'ada', 'gus', 'zoe']

In [25]:
copy_of_finishers

['kai', 'maxwell', 'ada', 'gus', 'zoe']

## List comprehensions

In [26]:
# using a loop to generate a list of square numbers
squares = []
for x in range(1, 11):
    square = x**2
    squares.append(square)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# using a comprehension to generate a list of square numbers
squares = []
squares = [x**2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
# using a loop to convert a list of names to upper case
names = ['kai', 'abe', 'ada', 'gus', 'zoe']

upper_names = []
for name in names:
    upper_names.append(name.upper())
upper_names

['KAI', 'ABE', 'ADA', 'GUS', 'ZOE']

In [29]:
# using a comprehension to convert a list of names to upper case
names = ['kai', 'abe', 'ada', 'gus', 'zoe']

upper_names2 = [name.upper() for name in names]
upper_names2

['KAI', 'ABE', 'ADA', 'GUS', 'ZOE']

## Styling your code

Use for sapaces per indentation level. 

Keep your lines to 79 characters or fewer. 

Use single blank lines to group parts of your program visually

# Tuples

In [30]:
dimensions = (800, 600)

In [31]:
for dimension in dimensions:
    print(dimension)

800
600

In [32]:
# overwrite an entire tuple, but you can't change the individual elements
dimensions = (800, 600)
print(dimensions)

dimensions = (1200, 900)
print(dimensions)

(800, 600)
(1200, 900)

# Visualizing your code

In [44]:
# pythontutor.com
dogs = []
dogs.append('willie')
dogs.append('hootz')
dogs.append('peso')
dogs.append('goblin')

for dog in dogs:
    print("Hello " + dog + "!")
print("I love these dogs!")

Hello willie!
Hello hootz!
Hello peso!
Hello goblin!
I love these dogs!

In [45]:
print("\nThese were my first two dogs:")
old_dogs = dogs[:2]
for old_dog in old_dogs:
    print(old_dog)

These were my first two dogs:
willie
hootz

In [46]:
del dogs[0]
print(dogs)

['hootz', 'peso', 'goblin']

In [48]:
dogs.remove('peso')
print(dogs)

['hootz', 'goblin']